html {
  overflow: -moz-scrollbars-none;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  font-family: "Roboto Mono", sans-serif;
  font-weight: 400;
  background-color: var(--color-white);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}

button {
  outline: none;
  cursor: pointer;
}

span {
  display: block;
}

input,
textarea {
  outline: none;
}

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1920px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.section-body {
  margin: 0px auto;
  width: 100%;
}

.disable-scroll {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
